# Ignore virtual environments
.venv/
venv/
env/

# Ignore Python bytecode caches
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore local configs and secrets
.env
.env.*
*.secrets

# Ignore IDE files
.vscode/
.idea/

# Ignore test caches and outputs
.pytest_cache/
.coverage
htmlcov/
tests/

# Ignore OS files
.DS_Store
Thumbs.db
